
  <meta charset="utf-8">
  <link rel="shortcut icon" href="../../../assets/images/dog.png">
  <!--Google fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">

  <!-- CSS Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- JQuery Bootstrap -->

  <!--Font Awesome-->

  <section id="title">
    <div class="container-fluid">

      <!-- Nav Bar -->
      <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" routerLink="./">tindog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="pricing">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="download">Download</a>
            </li>
          </ul>
        </div>
      </nav>


      <!-- Title -->

      <div class="row titlediv">
        <div class="col-lg-6">
          <h1>Meet new and interesting dogs nearby.</h1>
          <button type="button" class="btn btn-dark btn-lg x"><i class="fab fa-apple"></i> Download</button>
          <button type="button" class="btn btn-outline-light btn-lg"><i class="fab fa-google-play"></i>
            Download</button>
        </div>
        <div class="col-lg-6 imgcontainer">
          <img class="timg" src="../../../assets/images/iphone6.png"alt="iphone-mockup">
        </div>
      </div>
    </div>

  </section>

  <!-- Features -->

  <section id="features">
    <div class="row">
      <div class="col-lg-4 tc">
        <i class="fas fa-check-circle fa-4x icon"></i>
        <h3>Easy to use.</h3>
        <p class="pc">So easy to use, even your dog could do it.</p>
      </div>

      <div class="col-lg-4 tc ">
        <i class="fas fa-bullseye fa-4x icon"></i>
        <h3>Elite Clientele</h3>
        <p class="pc">We have all the dogs, the greatest dogs.</p>
      </div>

      <div class="col-lg-4 tc">
        <i class="fas fa-heart fa-4x icon"></i>
        <h3>Guaranteed to work.</h3>
        <p class="pc">Find the love of your dog's life or your money back.</p>
      </div>
    </div>
  </section>


  <!-- Testimonials -->

  <section id="testimonials">

    <div id="carouselExampleControls" class="carousel slide" data-ride="">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <h2>I no longer have to sniff other dogs for love. I've found the hottest Corgi on TinDog. Woof.</h2>
          <img class="testimg" src="../../../assets/images/dog-img.jpg" alt="dog-profile">
          <em>Pebbles, New York</em>
        </div>
        <div class="carousel-item">
          <h2 class="testimonial-text">My dog used to be so lonely, but with TinDog's help, they've found the love of
            their life. I think.</h2>
          <img class="testimg" src="../../../assets/images/lady-img.jpg" alt="lady-profile">
          <em>Beverly, Illinois</em>
        </div>
      </div>
    </div>
  </section>


  <!-- Press -->

  <section id="press">
    <img class="presslogo" src="../../../assets/images/TechCrunch.png" alt="tc-logo">
    <img class="presslogo" src="../../../assets/images/tnw.png" alt="tnw-logo">
    <img class="presslogo" src="../../../assets/images/bizinsider.png" alt="biz-insider-logo">
    <img class="presslogo" src="../../../assets/images/mashable.png" alt="mashable-logo">

  </section>


