body{
    font-family: 'Montserrat', sans-serif; 
    text-align: center;
}

#title{
    background-color:#ff4c68; 
    text-align:left;  
} 

h1{
    font-family: 'Montserrat', sans-serif; 
    font-size: 3.5rem; 
    line-height: 1.5;  
    font-weight: 900; 
    color: white;
} 

.container-fluid{
    padding:3% 15% 6%;
} 

/* H1 and download buttons*/

.x{
    margin: 5% 3% 5% 0;
} 

/*Navigation bar*/

.navbar{
    padding:0 0 4.5rem;
} 

.navbar-brand{
    font-size: 2.5rem; 
    font-family: 'Ubuntu', sans-serif; 
    font-weight: bold;
} 

.nav-item{
    padding: 0 18px;
} 

.navlink{
    font-size: 1.2rem; 
    font-family:'Montserrat-Light';
}

.timg{
    transform:rotate(25deg);
    width:60%;
    position:absolute; 
    right:30%;
}

/*Features*/

h3{
    font-family:'Montserrat'; 
    font-weight: 1000; 
    font-size:1.5rem;
} 

.tc{
    padding:5%;
} 

.pc{
    color:#8f8f8f;
} 

.icon{
    color:#ef8172;
    margin-bottom: 1rem;
} 

.icon:hover{
    color:#ff4c68;
} 

#features{
    padding: 7% 15%; 
    background-color: #fff;
    position:relative;
} 

/*Testimonials*/
#testimonials{
    background-color: #ef8172; 
    color:#fff;
} 

h2{
    font-family:"Montserrat";
    font-weight: bold;
    font-size:3rem; 
    line-height: 1.5;
} 

.testimg{
    width:10%;
    border-radius: 100%; 
    margin:20px;
} 

/*Press section*/
#press{
    background-color:#ef8172; 
    padding-bottom:3%;
} 

.presslogo{
    width:15%; 
    padding: 20px 20px 50px;
} 

.carousel-item{
    padding:7% 15%;
} 

/*Pricing*/ 
/*Media queries*/
/*call to action*/ 
/*Footer*/ 
