
    <!-- <p class="center">ENTERED DETAILS : </p> -->
    <details class="one" id="one">
        <summary>NAME</summary><span class="n">{{data.name}}</span>  
        <p>
          <details class="two">
            <summary>CONTACT INFO</summary> <span class="c">CONTACT NO : {{data.contact}}<br>
              EMAIL : {{data.email}}</span> 
            <div>
              <details class="three">
                <summary>PASSWORD</summary>  <blockquote class="p">{{data.password}}
                </blockquote>
              </details>
            </div>
          </details>
        </p>
      </details>


