
#title{
    background-color:#ff4c68; 
    text-align:left;  
    margin:auto;
} 

.col{
    color: black;
}

.container-fluid{
    padding:3% 15% 6%;
    color: black;
} 

/* H1 and download buttons*/
/*Navigation bar*/

.navbar{
    color: black;
} 

.navbar-brand{
    font-size: 2.5rem; 
    font-family: 'Ubuntu', sans-serif; 
    font-weight: bold;
    color: black;
} 

.nav-item{
    padding: 0 18px;
    color: black;
} 

.navlink{
    font-size: 1.2rem; 
    font-family:'Montserrat-Light';
    color: black;
}

/*Features*/
/*Testimonials*/
/*Press section*/
/*Pricing*/

h2{
    font-family:"Montserrat";
    font-weight: bold;
    font-size:3rem; 
    line-height: 1.5;
} 

h3{
    font-family:'Montserrat'; 
    font-weight: 1000; 
    font-size:1.5rem;
} 
/*Media queries*/
/*call to action*/ 
#cta{
    background-color: #ff4c68; 
    font-family:'Montserrat','sans-serif';   
    padding:0% 15% 14% 15%;
    text-align: center;
} 

.ctah{
    font-size: 3.5rem; 
    line-height: 1.5;
    color:#fff; 
    margin-bottom: 90px;
} 

.ctab{
    margin-right: 30px; 
    margin-bottom: 50px;
} 
/*Footer*/ 
