    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div class="con">
        <div class="stack head" style="--stacks: 3;">
          <span style="--index: 0;">PORTMANTEAU</span>
          <span style="--index: 1;">PORTMANTEAU</span>
          <span style="--index: 2;">PORTMANTEAU</span>
        </div>
    

    <div class="but">
        <a routerLink="clone">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        To Cloned
    </a>
    <a routerLink="login">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        To Login
    </a>
</div>   
</div>
